@rbxts:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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
root@0a7bb96e8afc /workspaces/AppForge master ⇡                                       10:43:30 PM
❯ git push origin master

Enumerating objects: 49, done.
Counting objects: 100% (49/49), done.
Delta compression using up to 4 threads
Compressing objects: 100% (34/34), done.
Writing objects: 100% (38/38), 11.26 KiB | 3.75 MiB/s, done.
Total 38 (delta 17), reused 0 (delta 0), pack-reused 0 (from 0)
remote: Resolving deltas: 100% (17/17), completed with 8 local objects.
remote: error: GH013: Repository rule violations found for refs/heads/master.
remote:
remote: - GITHUB PUSH PROTECTION
remote:   —————————————————————————————————————————
remote:     Resolve the following violations before pushing again
remote:
remote:     - Push cannot contain secrets
remote:
remote:
remote:      (?) Learn how to resolve a blocked push
remote:      https://docs.github.com/code-security/secret-scanning/working-with-secret-scanning-and-push-protection/working-with-push-protection-from-the-command-line#resolving-a-blocked-push
remote:
remote:
remote:       —— npm Access Token ——————————————————————————————————
remote:        locations:
remote:          - commit: 17a4ca8f9ba128123828ae4e7a81996513d4567b
remote:            path: .npmrc:2
remote:
remote:        (?) To push, remove secret from commit(s) or follow this URL to allow the secret.
remote:        https://github.com/Loner1536/AppForge/security/secret-scanning/unblock-secret/36ibG4GWdNFb6300sSnM3PufZjf
remote:
remote:
remote:
To https://github.com/Loner1536/AppForge.git
 ! [remote rejected] master -> master (push declined due to repository rule violations)
error: failed to push some refs to 'https://github.com/Loner1536/AppForge.git'
root@0a7bb96e8afc /workspaces/AppForge master ⇡
